@media (min-width: 1024px) {
    .navbar-menu {
        flex-direction: column;
        position: absolute;
        top: 45px;
        /* left: 150px; */
        right: 0px;
        background-color: #000000;
        padding-left: 20px;
    	width: 10%;
    }
}

@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        position: absolute;
        top: 28px;
        left: 0;
        background-color: #000000;
        padding-left: 20px;
    	width: 22%;
    }
}
